Repository pycaret/pycaret, pull requests merged in 2021-11, with the labels that each got.

#1789 Logging and MLFlow enhancements & fixes
  pycaret/internal/plots/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series.py
  time_series_101.ipynb
Labels: mlflow, time_series, plots

#1781 Dataset fixes
  pycaret/datasets.py
  pycaret/tests/test_datasets.py
  pycaret/tests/test_files/dummy_dataset.csv
Labels: time_series

#1798 streamlit support per #1783
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
Labels: time_series, plots

#1806 Grand Means Model + tune_model choose_better default value change
  pycaret/classification.py
  pycaret/containers/models/time_series.py
  pycaret/internal/plots/time_series.py
  pycaret/internal/pycaret_experiment/classification_experiment.py
  pycaret/internal/pycaret_experiment/regression_experiment.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/regression.py
  pycaret/tests/test_time_series.py
  pycaret/tests/test_time_series_plots.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series.py
  time_series_101.ipynb
Labels: time_series

#1820 streamlit fix
  pycaret/internal/pycaret_experiment/time_series_experiment.py
Labels: time_series, plots

#1824 Fixes for Time Series Beta Release
  pycaret/containers/models/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
Labels: time_series, models, plots

#1861 improved default grid definition for CdsCt per #1846
  pycaret/containers/models/time_series.py
Labels: time_series, tuning

#1860 fix to eq functions for naive models per #1812
  pycaret/containers/models/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series.py
Labels: time_series, tuning

#1863 added column for point estimate within pi (outlier or not) in support of #1836
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series.py
Labels: time_series, prediction

#1869 Revert "added column for point estimate within pi (outlier or not) in support of #1836"
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series.py
Labels: time_series

#1891 Add support for metrics with custom arguments like MASE, INPI
  pycaret/containers/metrics/time_series.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/internal/utils.py
  pycaret/tests/test_time_series.py
  pycaret/tests/test_time_series_metrics.py
  pycaret/time_series.py
Labels: time_series, metrics

#1903 Metrics fix for INPI
  pycaret/containers/metrics/time_series.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/tests/test_time_series_metrics.py
Labels: time_series, metrics
