Repository pycaret/pycaret, pull requests merged in 2021-12, with the labels that each got.

#1948 Add `IterativeImputer`
  pycaret/internal/pipeline.py
  pycaret/internal/preprocess/__init__.py
  pycaret/internal/preprocess/iterative_imputer.py
  pycaret/internal/pycaret_experiment/class_reg_experiment.py
  pycaret/tests/test_preprocess.py
Labels: preprocessing

#1958 refactored time series tests per #1892
  pycaret/tests/test_time_series.py
  pycaret/tests/test_time_series_base.py
  pycaret/tests/test_time_series_blending.py
  pycaret/tests/test_time_series_mlflow.py
  pycaret/tests/test_time_series_models.py
  pycaret/tests/test_time_series_setup.py
  pycaret/tests/test_time_series_stats.py
  pycaret/tests/test_time_series_tune_base.py
Labels: time_series, unit_tests

#1960 Croston
  .gitignore
  .log
  pycaret/containers/models/time_series.py
  time_series_croston.ipynb
Labels: time_series, models

#1966 Fixed return_data parameter for a few functions
  pycaret/internal/plots/time_series.py
  pycaret/tests/test_time_series_plots.py
Labels: time_series, plots

#1983 added new function eda
  pycaret/classification.py
  pycaret/internal/tabular.py
  pycaret/regression.py
  pycaret/tests/test_eda.py
  requirements-optional.txt
Labels: eda
