Repository pycaret/pycaret, pull requests merged in 2022-05, with the labels that each got.

#2481 Upgrade to sktime 0.11.3 + changes for prediction deprecations
  pycaret/containers/models/time_series.py
  pycaret/internal/ensemble.py
  pycaret/tests/test_time_series_base.py
  pycaret/tests/test_time_series_setup.py
  pycaret/tests/test_time_series_utils_forecasting.py
  pycaret/tests/test_time_series_utils_forecasting_pipeline.py
  pycaret/tests/test_time_series_utils_plots.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/forecasting/__init__.py
  pycaret/utils/time_series/forecasting/model_selection.py
  pycaret/utils/time_series/forecasting/models.py
  pycaret/utils/time_series/forecasting/pipeline.py
  requirements.txt
Labels: time_series, setup, prediction

#2484 Updated logging in `show_versions`
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/nlp/__init__.py
  pycaret/utils/_show_versions.py
Labels: setup

#2485 Added setup checks in all base libraries instead of Time Series
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/time_series/forecasting/oop.py
Labels: setup

#2503 fixes
  nb_test.ipynb
  pycaret/classification/oop.py
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/internal/pycaret_experiment/unsupervised_experiment.py
  pycaret/internal/utils.py
  pycaret/regression/oop.py
  pycaret/time_series/forecasting/oop.py
  requirements-prophet.txt
  requirements.txt
Labels: setup

#2486 Better error message
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/internal/utils.py
Labels: setup

#2517 Updated pipeline to use sktime directly
  pycaret/internal/preprocess/time_series/forecasting/preprocessor.py
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/tests/test_time_series_base.py
  pycaret/tests/test_time_series_preprocess.py
  pycaret/tests/test_time_series_tune_base.py
  pycaret/tests/test_time_series_utils_forecasting_pipeline.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/forecasting/model_selection.py
  pycaret/utils/time_series/forecasting/pipeline.py
Labels: time_series, preprocessing

#2545 Fixes clustering anomaly
  pycaret/anomaly/__init__.py
  pycaret/containers/models/clustering.py
  requirements.txt
Labels: anomaly_detection, clustering, setup

#2515 Update the regression-tutorial notebook in Japanese
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/pull_request_template.md
  .github/workflows/lock_old_threads.yml
  tutorials/Japanese/JA-Regression Tutorial Level Intermediate - REG102.ipynb
Labels: documentation

#2551 updated requirements to fix #2542 for 3.0.0rc1 release
  requirements.txt
Labels: installation

#2544 Time Series default metric updated
  pycaret/containers/metrics/time_series.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
Labels: time_series, metrics

#2574 fix for unsupervised experiment plotting
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/internal/pycaret_experiment/unsupervised_experiment.py
  pycaret/tests/test_anomaly.py
  pycaret/tests/test_clustering.py
Labels: anomaly_detection, clustering

#2552 Implements engines per #2323 (without aggregators)
  pycaret/containers/models/base_model.py
  pycaret/containers/models/time_series.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/tests/test_time_series_engines.py
  pycaret/time_series/__init__.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/__init__.py
  requirements-optional.txt
Labels: time_series, models

#2609 Time Series - fix index checks
  pycaret/time_series/forecasting/oop.py
Labels: time_series
