Repository pycaret/pycaret, pull requests merged in 2022-04, with the labels that each got.

#2339 Fix potential parameter leaking for ParallelBackend
  pycaret/classification.py
  pycaret/regression.py
Labels: parallelization, big_data

#2360 Fix for prediction intervals with pipelines
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series.py
  pycaret/utils/time_series/forecasting/pipeline.py
Labels: time_series, prediction

#2358 Fix dependency install in CI
  .github/workflows/test.yml
  pycaret/tests/test_eda.py
  requirements.txt
Labels: installation, unit_tests

#2367 support for business week plus more seasonal periods per #1854
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/__init__.py
Labels: time_series, setup

#2389 Multiple fixes
  pycaret/internal/pycaret_experiment/__init__.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/tests/test_time_series_metrics.py
  pycaret/tests/test_time_series_setup.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/_dependencies.py
Labels: time_series, setup

#2395 Time Series - Metrics with missing data
  pycaret/internal/preprocess/time_series/forecasting/preprocessor.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/tests/conftest.py
  pycaret/tests/test_pipeline.py
  pycaret/tests/test_time_series_blending.py
  pycaret/tests/test_time_series_metrics.py
  pycaret/tests/test_time_series_models.py
  pycaret/tests/test_time_series_preprocess.py
  pycaret/tests/test_time_series_utils_pipeline.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/forecasting/model_selection.py
  pycaret/utils/time_series/forecasting/pipeline.py
Labels: time_series, preprocessing, metrics

#2407 implemented changes for #2368 and added unit tests
  pycaret/tests/test_time_series_plots.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
Labels: time_series, plots

#2413 Missing Data plot fixes
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/tests/test_time_series_plots.py
  pycaret/tests/test_time_series_preprocess.py
  pycaret/tests/test_time_series_utils_plots.py
  pycaret/time_series/forecasting/oop.py
Labels: time_series, plots

#2433 Refactor import * reference to only import necessary functions #2423
  pycaret/anomaly/oop.py
  pycaret/classification/oop.py
  pycaret/clustering/oop.py
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/internal/pycaret_experiment/unsupervised_experiment.py
  pycaret/internal/utils.py
  pycaret/regression/oop.py
Labels: refactor

#2435 Refactor import * reference to only import explicit functions #2434
  pycaret/classification/oop.py
  pycaret/clustering/oop.py
  pycaret/containers/models/anomaly.py
  pycaret/containers/models/classification.py
  pycaret/containers/models/clustering.py
  pycaret/containers/models/regression.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/internal/pycaret_experiment/unsupervised_experiment.py
Labels: refactor

#2429 changes to `check_stats`, `setup` display & arguments
  pycaret/internal/tests/stats.py
  pycaret/internal/tests/time_series.py
  pycaret/tests/test_time_series_preprocess.py
  pycaret/tests/test_time_series_stats.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/exceptions.py
Labels: time_series, preprocessing, stats, setup

#2436 implemented some plots for multiple estimators per #2418
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/time_series/forecasting/oop.py
Labels: time_series, plots

#2448 Support custom metric in ParallelBackend
  examples/PyCaret 2 Fugue Integration.ipynb
  pycaret/internal/tabular.py
  pycaret/parallel/parallel_backend.py
  requirements-optional.txt
Labels: parallelization, big_data, spark
