Repository pycaret/pycaret, pull requests merged in 2022-03, with the labels that each got.

#2227 Fix for PACF & Global Imports
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/tests/test_clustering.py
  pycaret/tests/test_create_clusters.py
  pycaret/time_series/__init__.py
Labels: time_series, plots, setup

#2228 Fix for PACF & Global Imports
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/tests/test_clustering.py
  pycaret/tests/test_create_clusters.py
  pycaret/time_series/__init__.py
Labels: time_series, plots, setup

#2250 Rename `sp_to_use` variables
  pycaret/containers/models/time_series.py
  pycaret/internal/plots/time_series.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/conftest.py
  pycaret/tests/test_time_series_setup.py
  pycaret/tests/test_time_series_stats.py
  pycaret/tests/time_series_test_utils.py
Labels: time_series, refactor

#2251 Refactored Time Series Forecasting
  pycaret/containers/metrics/time_series.py
  pycaret/internal/pycaret_experiment/__init__.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/internal/tabular.py
  pycaret/tests/test_time_series_metrics.py
  pycaret/time_series/__init__.py
  pycaret/time_series/functional.py
  pycaret/time_series/oop.py
Labels: time_series, refactor

#2256 improved imputation strategies
  pycaret/classification.py
  pycaret/internal/preprocess/preprocessor.py
  pycaret/internal/preprocess/transformers.py
  pycaret/regression.py
  pycaret/tests/test_preprocess.py
Labels: preprocessing, impute

#2237 Return train score
  pycaret/classification.py
  pycaret/internal/tabular.py
  pycaret/regression.py
Labels: regression, classification

#2262 Time Series Plotting Enhancements
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/time_series/__init__.py
  pycaret/time_series/forecasting/__init__.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  requirements.txt
Labels: time_series, plots

#2271 Refactor Functional and OOP modules for all tasks
  pycaret/anomaly/__init__.py
  pycaret/anomaly/functional.py
  pycaret/anomaly/oop.py
  pycaret/api.py
  pycaret/arules/__init__.py
  pycaret/classification/__init__.py
  pycaret/classification/functional.py
  pycaret/classification/oop.py
  pycaret/clustering/__init__.py
  pycaret/clustering/functional.py
  pycaret/clustering/oop.py
  pycaret/internal/preprocess.py
  pycaret/internal/pycaret_experiment/__init__.py
  pycaret/nlp/__init__.py
  pycaret/regression/__init__.py
  pycaret/regression/functional.py
  pycaret/regression/oop.py
Labels: refactor

#2269 Fix spelling mistakes in function docstrings
  pycaret/internal/preprocess.py
Labels: documentation

#2274 Time Series Preprocessing - Imputing & Exogenous model extension
  pycaret/containers/models/time_series.py
  pycaret/internal/preprocess/time_series/__init__.py
  pycaret/internal/preprocess/time_series/forecasting/__init__.py
  pycaret/internal/preprocess/time_series/forecasting/preprocessor.py
  pycaret/internal/pycaret_experiment/pycaret_experiment.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/tests/conftest.py
  pycaret/tests/test_preprocess.py
  pycaret/tests/test_time_series_preprocess.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/forecasting/model_selection.py
  pycaret/utils/time_series/forecasting/pipeline.py
Labels: time_series, preprocessing, models, impute

#2231 Add W&B experiment logger
  pycaret/internal/tabular.py
  pycaret/loggers/__init__.py
  pycaret/loggers/base_logger.py
  pycaret/loggers/mlflow_logger.py
  pycaret/loggers/wandb_logger.py
  pycaret/nlp.py
Labels: logging

#2279 TS Transform, Scale, Save, Load, Refactor
  pycaret/internal/persistence.py
  pycaret/internal/preprocess/time_series/forecasting/preprocessor.py
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/tests/conftest.py
  pycaret/tests/test_time_series_base.py
  pycaret/tests/test_time_series_preprocess.py
  pycaret/tests/test_time_series_tune_base.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/forecasting/__init__.py
  pycaret/utils/time_series/forecasting/models.py
  pycaret/utils/time_series/forecasting/pipeline.py
Labels: time_series, preprocessing, refactor

#2306 added support for multiple model forecasts per #1616
  pycaret/internal/plots/time_series.py
  pycaret/tests/test_time_series_base.py
  pycaret/tests/test_time_series_exogenous.py
  pycaret/tests/test_time_series_tune_base.py
  pycaret/tests/test_time_series_tune_grid.py
  pycaret/tests/test_time_series_tune_random.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/forecasting/__init__.py
Labels: time_series, plots

#2328 Refactored predict_model, unified fh handling
  pycaret/internal/Display.py
  pycaret/internal/utils.py
  pycaret/tests/test_time_series_base.py
  pycaret/tests/test_time_series_setup.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/forecasting/__init__.py
Labels: time_series, refactor, setup, prediction

#2346 Updated ACF and PACF plots to reuse subplot logic directly
  pycaret/internal/plots/time_series.py
Labels: time_series, plots, refactor
