Repository pycaret/pycaret, pull requests merged in 2022-10, with the labels that each got.

#3026 Time Series test fix
  requirements.txt
Labels: time_series

#3031 Fix for prediction limits (time series)
  pycaret/internal/plots/time_series.py
Labels: time_series, plot_model

#3028 Fixes time series setup issue on Colab
  pycaret/containers/models/time_series.py
Labels: time_series, setup

#3009 Modularize customization of time series plots
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  tests/test_time_series_utils_plots.py
Labels: time_series, plot_model

#3030 Relaxes library versions for dependencies
  requirements.txt
Labels: installation

#3010 Add mlflow EDA logging in setup
  pycaret/time_series/forecasting/oop.py
  tests/test_time_series_mlflow.py
Labels: mlflow, time_series
