Repository pycaret/pycaret, pull requests merged in 2022-01, with the labels that each got.

#2028 completed fix for correct seasonal fix in decomp plots
  pycaret/internal/pycaret_experiment/time_series_experiment.py
Labels: time_series, plots

#2030 made unit tests more modular per #2029
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series_plots.py
Labels: time_series, plots

#2036 Refactor Time Series Experiment setup method
  pycaret/internal/pycaret_experiment/tabular_experiment.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series_setup.py
  pycaret/time_series.py
Labels: time_series

#2076 Fix for short time series - recommended_D test failure closes #2068
  pycaret/internal/pycaret_experiment/tabular_experiment.py
Labels: bug, time_series, setup

#2040 Added Time Series difference plot
  pycaret/internal/plots/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
Labels: time_series, plots

#2087 fix for COV_PROB metric
  pycaret/internal/pycaret_experiment/tabular_experiment.py
Labels: time_series, metrics

#2086 Enhance Time Series Difference Plots - Closes #1654
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/__init__.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/time_series.py
Labels: time_series, plots

#2063 bug resolving for drift report of categorical columns
  pycaret/internal/drift_report.py
Labels: drift

#2095 cleaned up 101, added new features and reran
  time_series_101.ipynb
  time_series_datasets.ipynb
Labels: time_series, release

#2094 Adding multivariable time series dataset from UCI
  datasets/airquality.csv
Labels: dataset

#2064 Support for univariate forecasting with exogenous variables
  pycaret/datasets.py
  pycaret/internal/pycaret_experiment/supervised_experiment.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/internal/pycaret_experiment/utils.py
  pycaret/internal/utils.py
  pycaret/tests/conftest.py
  pycaret/tests/test_time_series_exogenous.py
  pycaret/time_series.py
Labels: time_series, multivariate

#2101 Time series models to use sp_to_use
  pycaret/containers/models/time_series.py
  pycaret/internal/plots/time_series.py
  pycaret/tests/conftest.py
  pycaret/tests/time_series_test_utils.py
Labels: time_series, models

#2100 Add Test for lags Closes #1655
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/internal/tests/__init__.py
  pycaret/internal/tests/stats.py
  pycaret/internal/tests/time_series.py
  pycaret/tests/test_time_series_plots.py
  pycaret/tests/test_time_series_stats.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series.py
  pycaret/utils/__init__.py
  pycaret/utils/time_series.py
Labels: time_series, stats

#2108 Time Series changed X to integer based indexing in _fit_and_score
  pycaret/internal/pycaret_experiment/time_series_experiment.py
Labels: bug, time_series, multivariate
