Repository pycaret/pycaret, pull requests merged in 2022-12, with the labels that each got.

#3136 Enforce X86 platform spec for scikit-learn-intelex package
  requirements-optional.txt
Labels: installation, intelex

#3153 removing old time series class from library
  pycaret/time_series/forecasting/oop.py
Labels: time_series

#3151 Auto Seasonal Period Detection
  .github/workflows/test.yml
  pycaret/time_series/forecasting/functional.py
  pycaret/time_series/forecasting/oop.py
  pycaret/utils/time_series/__init__.py
  tests/benchmarks/test_time_series_sp_detection.py
  tests/test_time_series_exogenous.py
  tests/test_time_series_feat_eng.py
  tests/test_time_series_indices.py
  tests/test_time_series_metrics.py
  tests/test_time_series_plots.py
  tests/test_time_series_preprocess.py
  tests/test_time_series_setup.py
  tests/test_time_series_utils_forecasting_pipeline.py
  tests/time_series_test_utils.py
Labels: time_series, automl, benchmark

#3213 Fixed Time Series Plotting for some cases
  pycaret/time_series/forecasting/oop.py
Labels: time_series, plot_model
