Repository pycaret/pycaret, pull requests merged in 2022-02, with the labels that each got.

#2035 Fugue integration
  .gitignore
  .log
  examples/PyCaret 2 Fugue Integration.ipynb
  pycaret/classification.py
  pycaret/internal/tabular.py
  pycaret/parallel/__init__.py
  pycaret/parallel/fugue_backend.py
  pycaret/parallel/parallel_backend.py
  pycaret/regression.py
  pycaret/tests/test_classification_parallel.py
  pycaret/tests/test_regression_parallel.py
  requirements-optional.txt
  requirements-test.txt
Labels: parallelization

#2109 Fix for Prophet with Exogenous Variables
  .github/workflows/test.yml
  pycaret/containers/models/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series_indices.py
  pycaret/tests/test_utils_datetime.py
  pycaret/utils/__init__.py
  pycaret/utils/datetime.py
  pycaret/utils/time_series.py
  requirements-ts.txt
Labels: time_series, multivariate

#2130 Added plotting of frequency components
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/time_series.py
Labels: time_series, plots

#2131 fix for sktime 0.10 + major refactor (cleanup)
  .github/workflows/test.yml
  pycaret/containers/models/time_series.py
  pycaret/internal/distributions.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/internal/utils.py
  pycaret/internal/validation.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series.py
  pycaret/utils/__init__.py
  pycaret/utils/time_series.py
  pycaret/utils/time_series/__init__.py
  pycaret/utils/time_series/forecasting/__init__.py
  pycaret/utils/time_series/forecasting/model_selection.py
  requirements-optional.txt
  requirements-ts.txt
  requirements.txt
Labels: time_series, refactor, dependencies

#2135 Added show_versions Closes #2132
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  pycaret/__init__.py
  pycaret/utils/_show_versions.py
  requirements-dev.txt
Labels: installation, time_series

#2149 Plotting updates + Bug Fixes for Univariate Forecasting with exogenous variables
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/time_series.py
Labels: time_series, plots, exogenous

#2152 Allows to specify a list as seasonal_period and uses multiple seasonalities in TBATS
  pycaret/containers/models/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/test_time_series_setup.py
  pycaret/time_series.py
Labels: time_series, models

#2171 Provide option to enforce models that support exogenous variables only
  pycaret/containers/models/time_series.py
  pycaret/internal/pycaret_experiment/time_series_experiment.py
  pycaret/tests/conftest.py
  pycaret/tests/test_time_series_exogenous.py
  pycaret/tests/test_time_series_setup.py
  pycaret/tests/time_series_test_utils.py
  pycaret/time_series.py
  pycaret/utils/time_series/__init__.py
  pycaret/utils/time_series/forecasting/models.py
Labels: time_series, setup, exogenous

#2185 fixed value error when dataset address was given
  pycaret/datasets.py
Labels: time_series, dataset

#2201 Alphanumeric frequency support in Time Series
  requirements-ts.txt
Labels: time_series, models, setup

#2212 Ts fix feb
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
Labels: time_series, plots

#2220 Fix and Enhancement for Feb Time Series release
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
Labels: time_series, plots

#2222 Time series Feb release - Fixes plus enhancements
  pycaret/internal/plots/time_series.py
  pycaret/internal/plots/utils/time_series.py
Labels: time_series, plots
